<div id="content">
    <div class="col-sm-12">
        <article class="col-sm-8">
            <sa-big-breadcrumbs [items]="['출입자 등록', '출입자 등록 페이지']"
                                icon="check"
                                class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></sa-big-breadcrumbs>
        </article>
    </div>

    <div class="row">
        <article class="col-md-4 col-md-offset-3" >
            <div sa-widget [editbutton]="false" [custombutton]="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Visitor Register Form </h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <form id="review-form" class="smart-form" novalidate="novalidate">
                            <fieldset>
                                    <div class="alert alert-info">
                                        <p><strong><i class="fa fa-check"></i> </strong> &nbsp; 아래 세가지 내용은 모두 필수 입력 항목으로, 정확히 기재 해주세요.
                                        <p><strong><i class="fa fa-check"></i> </strong> &nbsp; 연락처는 '-'을 제외한 <strong>숫자만</strong> 넣어 주세요.
                                        <p><strong><i class="fa fa-check"></i> </strong> &nbsp; 그 외 문의사항은 <strong>'02-2222-2334'</strong>로 연락 바랍니다.
                                    </div>
                                    <br>
                                <section>
                                    <label class="dropdown-toggle">
                                        <select [(ngModel)]="searchOptions.company" name="company"
                                                class="form-control" (change)="getCompany($event)">
                                            <option value="" disabled> 방문 회사 </option>
                                            <option [value]="company"
                                                    *ngFor="let company of companyFilter">{{company}}</option>
                                        </select>
                                    </label>
                                </section>

                                <section>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="name" id="name" placeholder="이름 * "
                                        (change)="getName($event)"/>
                                    </label>
                                </section>

                                <section>
                                    <label class="input"> <i class="icon-append fa fa-phone"></i>
                                        <input type="tel" name="mobileNo" id="mobileNo" placeholder="연락처 * "
                                               (change)="getMobileNo($event)"/>
                                    </label>
                                </section>



                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary" [disabled]="regData" (click)="registerData()">
                                    <h1 class="font-xs"> Register </h1>
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>



