<div sa-widget class="well">
    <header>
        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
        <h2>Widget Title </h2>
    </header>

    <div class="row">
        <!-- widget content -->

        <div class="widget-body no-padding">
            <!--기본 테이블 형태-->
            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                <thead>
                <tr >
                    <th class="text-align-center" style="width: auto;">room number</th>
                    <th class="text-align-center">leader</th>
                    <th class="text-align-center">hours</th>
                    <th class="text-align-center">agenda</th>
                    <th class="text-align-center">state</th>
                    <th class="text-align-center">startDate</th>
                    <th class="text-align-center">endDate</th>
                </tr>
                </thead>
                <tbody  *ngFor="let one of items; let i=index">
                <tr>
                    <td>{{one.roomName}}</td>
                    <td>{{one.leader}}</td>
                    <td>{{one.hours}}</td>
                    <td>{{one.agenda}}</td>
                    <td>{{one.state}}</td>
                    <td>{{one.startDate}}</td>
                    <td>{{one.endDate}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
