
    <div sa-widget [editbutton]="false" [custombutton]="false" style="padding: 8px 12px;">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>Visitor Register Form </h2>
        </header>

        <div>
            <div class="widget-body">
                <!--                <div class="row"> &lt;!&ndash; 날짜 지정 &ndash;&gt;-->
                <!--                    <div class="col-sm-offset-2 col-sm-3">-->
                <!--                        <div class="input-group">-->
                <!--                            <input type="text" name="startDate" placeholder="Select a date" class="form-control datepicker"-->
                <!--                                   [saUiDatepicker]="{-->
                <!--                                    dateFormat: 'dd/mm/yy'-->
                <!--                                 }" >-->
                <!--                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="col-sm-3">-->
                <!--                        <div class="input-group">-->
                <!--                            <input type="text" name="endDate" placeholder="Select a date" class="form-control datepicker"-->
                <!--                                   [saUiDatepicker]="{-->
                <!--                                    dateFormat: 'dd/mm/yy'-->
                <!--                                 }" >-->
                <!--                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="row" >
                    <div class="form-inline">
                        <form id="checkout-form" class="smart-form"
                              novalidate="novalidate">
                            <!--                              [saUiValidate]="validationOptions"-->

                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-tag"></i>
                                            <input type="text" name="roomName" placeholder="check out room name"
                                                   [(ngModel)]="newBooking.roomName">
                                        </label>
                                    </section>

                                    <section class="col col-3">
                                        <label class="input"> <i class="icon-prepend fa fa-comment"></i>
                                            <input type="text" name="agenda" placeholder="agenda" [(ngModel)]="newBooking.agenda">
                                        </label>
                                    </section>

                                    <section class="col col-3">
                                        <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="leader" placeholder="check out leader name"
                                                   [(ngModel)]="newBooking.leader">
                                        </label>
                                    </section>

                                    <section>
                                        <div class="col col-3">
                                            <label class="select">
                                                <select class="input-sm" name="state" [(ngModel)]="newBooking.state">
                                                    <option *ngFor="let state of states"
                                                            [value]="state.name">{{state.name}}</option>
                                                </select> <i></i> </label>
                                        </div>
                                    </section>
                                </div>

                                <div class="row">

                                    <section class="col col-4">
                                        <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="startDate" placeholder="check out start Date"
                                                   [(ngModel)]="newBooking.startDate">
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label class="input"> <i class="icon-prepend fa fa-user"></i>
                                            <input type="text" name="endDate" placeholder="check out end Date"
                                                   [(ngModel)]="newBooking.endDate">
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label class="input"> <i class="icon-prepend fa fa-clock-o"></i>
                                            <input type="number" name="hours" placeholder="check out hours"
                                                   [(ngModel)]="newBooking.hours">
                                        </label>
                                    </section>

                                </div>
                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-labeled btn-info"
                                        (click)="createBooking()">
                                    createBooking
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
