<div class="row" style="padding: 8px 12px;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="widget-body">
            <div>
                <div class="form-inline">
                    <div class="row">
                        <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false"
                             [togglebutton]="false" [fullscreenbutton]="false" >
                            <header>
                                                            <span class="widget-icon"> <i
                                                                    class="fa fa-table"></i> </span>

                                <h2> meeting room table </h2>
                            </header>
                            <div >
                                <div class="widget-body no-padding">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped  smart-form">
                                            <thead>
                                            <tr>
                                                <th class="text-align-center" style="width: auto;">room No.</th>
                                                <th class="text-align-center">hours</th>
                                                <th class="text-align-center">agenda</th>
                                                <th class="text-align-center">status</th>
                                                <th class="text-align-center">startDate</th>
                                                <th class="text-align-center">endDate</th>
                                            </tr>
                                            </thead>
                                            <tbody *ngFor="let one of items; let i=index">
                                            <tr>
                                                <td>{{one.roomNo}}</td>
                                                <td>{{one.hours}}</td>
                                                <td>{{one.agenda}}</td>
                                                <td>{{one.status}}</td>
                                                <td>{{one.startDate}}</td>
                                                <td>{{one.endDate}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
