<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Meeting room', '미팅룸 예약']" icon="map-marker"
                            class="col-xc-12 col-sm-3 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>

    <sa-widgets-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class=" col-md-12 ">

                <!--add booking -->

                <div sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false"
                     [togglebutton]="false" [fullscreenbutton]="false" *ngIf="newBooking">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Booking meeting-room </h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <form (ngSubmit)="onSubmit()" novalidate="novalidate"
                                  [saBootstrapValidator]="validatorOptions">

                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select name="roomNo" class="form-control"
                                                        [(ngModel)]="newBooking.roomNo">
                                                    <option value="" disabled> 회의실 번호</option>
                                                    <option [value]="num"
                                                            *ngFor="let num of roomNumber">{{num}}</option>
                                                </select>
                                            </div>

                                            <div class="col-md-4 ">
                                                <input type="text" class="form-control" name="agenda"
                                                       [(ngModel)]="newBooking.agenda" placeholder="agenda">
                                            </div>

                                            <div class="col-md-4 ">
                                                <select name="status" class="form-control"
                                                        [(ngModel)]="newBooking.status">
                                                    <option value="" disabled> status</option>
                                                    <option [value]="status"
                                                            *ngFor="let status of status">{{status}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-sm-4">
                                                <input type="text" name="startDate" class="form-control"
                                                       placeholder="check out start Date"
                                                       [(ngModel)]="newBooking.startDate">
                                            </div>

                                            <div class="col-md-4">
                                                <input type="text" name="endDate" class="form-control"
                                                       placeholder="check out end Date"
                                                       [(ngModel)]="newBooking.endDate">
                                            </div>

                                            <div class="col-md-4">
                                                <input type="number" name="hours" class="form-control"
                                                       placeholder="check out hours"
                                                       [(ngModel)]="newBooking.hours"
                                                       pattern="[12345678]">
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>


                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-labeled btn-info">
                                               <span class="btn-label"><i class="fa fa-calendar"></i></span>Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!--end add booking-->
                <ea-booking></ea-booking>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </sa-widgets-grid>

    <div class="pull-right">
        <button class="btn btn-labeled btn-success"
                [class.active]="newBooking" (click)="booking()">
          <span class="btn-label">
            <i class="glyphicon glyphicon-ok"></i>
          </span>Booking
        </button>
    </div>

    <!--div:content end-->
</div>




