<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Dashboard']" icon=" fa-bar-chart-o"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>

    <div class="row">
        <article class="col-sm-6">
            <!-- Sa example -->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="well text-center connect">
                        <span class="font-xs"><b>Jennifer Lezly</b></span>
                        <a (click)="(null)" class="btn btn-xs btn-success margin-top-5 margin-bottom-5"> <span
                                class="font-xs">Connect</span> </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="well text-center connect">
                        <span class="font-xs"><b>Jennifer Lezly</b></span>
                        <a (click)="(null)" class="btn btn-xs btn-success margin-top-5 margin-bottom-5"> <span
                                class="font-xs">Connect</span> </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="well text-center connect">
                        <span class="font-xs"><b>Jennifer Lezly</b></span>
                        <a (click)="(null)" class="btn btn-xs btn-success margin-top-5 margin-bottom-5"> <span
                                class="font-xs">Connect</span> </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="well text-center connect">
                        <span class="font-xs"><b>Jennifer Lezly</b></span>
                        <a (click)="(null)" class="btn btn-xs btn-success margin-top-5 margin-bottom-5"> <span
                                class="font-xs">Connect</span> </a>
                    </div>
                </div>
            </div>
        </article>

        <div class="col-sm-3">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="widget-body">
                    <div>
                        <div class="form-inline">
                            <div class="row">
                                <div sa-widget>

                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-clock-o"></i> </span>
                                        <h2> 빌딩 예시 </h2>
                                    </header>

                                    <div class="col-md-12">
                                        <div class=" no-padding text-align-center txt-color-blueDark "
                                             *ngFor="let floor of building">
                                            <ng-container>
                                                <h6 *ngIf="!floor.action" class="floor"
                                                    (click)="click(floor)"> {{floor}}
                                                    층</h6>
                                                <h6 *ngIf="action" class="eventFloor"> {{floor}} 층</h6>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!-- Time line -->
        <div class="col-sm-offset-6">
            <article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="widget-body">
                    <div>
                        <div class="form-inline">
                            <div class="row">
                                <div sa-widget [colorbutton]="true" [editbutton]="true" [deletebutton]="true"
                                     [sortable]="true"
                                     [togglebutton]="true" [fullscreenbutton]="true">
                                    <header>
                                                            <span class="widget-icon"> <i
                                                                    class="fa fa-table"></i> </span>

                                        <h2> Time Line </h2>
                                    </header>

                                    <div>
                                        <div class="widget-body no-padding">

                                                <div *ngFor="let layer of tower" [ngSwitch]="layer.action">
                                                    <div *ngSwitchCase="false"
                                                         (click)="change(layer)">
                                                        <img src="/assets/img/test.png"
                                                             style="height: 100px;">
                                                        <div class="col-md-1">
                                                            <h1>{{layer.name}}</h1>
                                                        </div>
                                                    </div>
                                                    <div *ngSwitchCase="true"
                                                         class="eventFloor txt-color-white">
                                                        <img src="/assets/img/test.png"
                                                             style="height: 100px;">
                                                        <div class="col-md-1">
                                                            <h1>{{layer.name}}</h1>
                                                        </div>
                                                    </div>
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>


    </div>
</div>


<!-- Time line end -->

